<div class="hk-wrapper hk-pg-auth" data-footer="simple">
    <!-- Top Navbar -->
    <nav class="hk-navbar navbar navbar-expand-xl navbar-light fixed-top">
        <div class="container-xxl">
            <!-- Start Nav -->
            <div class="nav-start-wrap">
                <a class="navbar-brand" href="/">
                    <img class="brand-img d-inline-block" [src]="layout?.logotipo_url" alt="brand">
                </a>
            </div>
            <!-- /Start Nav -->            
        </div>
    </nav>
    <!-- /Top Navbar -->
    <!-- Main Content -->
    <div class="hk-pg-wrapper">
        <!-- Page Body -->
        <div class="hk-pg-body">
            <!-- Container -->
            <div class="container-xxl">
                <!-- Row -->
                <div class="row">
                    <div class="col-xl-7 col-lg-6 d-lg-block d-none v-separator separator-sm">
                        <div class="auth-content py-md-0 py-8">
                            <div class="row">
                                <div class="col-xxl-9 col-xl-8 col-lg-11 text-center mx-auto">
                                    <img [src]="layout?.logotipo_url" class="img-fluid w-sm-40 w-50 mb-3" alt="login">
                                    <h3 class="mb-2">Sales Impulse</h3>
                                    <p class="w-xxl-65 w-100 mx-auto">Uma nova forma de unir o digital ao físico e impulsionar suas vendas</p>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-7 col-sm-10 position-relative mx-auto">
                        <div class="auth-content py-md-0 py-8">
                            <form class="w-100" [formGroup]="formGroup" (submit)="auth()">
                                <div class="row">
                                    <div class="col-lg-10 mx-auto">
                                        <h4 class="mb-4">Bem vindo de volta, vendedor!</h4>
                                        <div class="row gx-3">
                                            <div class="form-group col-lg-12">
                                                <div class="form-label-group">
                                                    <label>Email ou CPF</label>
                                                </div>
                                                <input
                                                    class="form-control"
                                                    placeholder="Enter username or email ID"
                                                    formControlName="username"
                                                    type="text"
                                                    [ngClass]="{ 'is-invalid': invalidAccess }"
                                                >
                                                <div class="invalid-feedback">{{ invalidMessage }}</div>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <div class="form-label-group">
                                                    <label>Password</label>
                                                    <a href="#" class="fs-7 fw-medium">Esqueceu sua senha?</a>
                                                </div>
                                                <div class="input-group password-check">
                                                    <span class="input-affix-wrapper">
                                                        <input
                                                            class="form-control"
                                                            placeholder="Enter your password"
                                                            formControlName="password"
                                                            type="password"
                                                        >
                                                        <a href="#" class="input-suffix text-muted">
                                                            <span class="feather-icon">
                                                                <i class="form-icon" data-feather="eye"></i>
                                                            </span>
                                                            <span class="feather-icon d-none">
                                                                <i class="form-icon" data-feather="eye-off"></i>
                                                            </span>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>                                        
                                        <button class="btn btn-primary btn-uppercase btn-block" type="submit" [disabled]="!formGroup.valid || loading">
                                            <span *ngIf="!loading">Entrar</span>
                                            <span
                          class="spinner-border spinner-border-sm loading"
                          role="status"
                          aria-hidden="true"
                          *ngIf="loading"
                        ></span>
                                        </button>                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /Row -->
            </div>
            <!-- /Container -->
        </div>
        <!-- /Page Body -->
        <!-- Page Footer -->
        <div class="hk-footer">
            <footer class="container-xxl footer">
                <div class="row">
                    <div class="col-xl-8">
                        <p class="footer-text">
                            <span class="copy-text">Sales Impulse by Portal do Seller © {{dateUtils.getCurrentYear()}} Todos os direitos reservados.</span>
                        </p>
                    </div>
                    <div class="col-xl-4">
                        <a href="https://www.portaldoseller.com.br" class="footer-extr-link link-default" target="_blank">
                            <img
                                class="brand-img d-inline-block"
                                src="assets/img/logo-reduzida-semfundo.png"
                                alt="Portal do Seller"
                                style="width: 80px;object-fit: contain;"
                            >
                        </a>
                    </div>
                </div>
            </footer>
        </div>
        <!-- / Page Footer -->
    </div>
    <!-- /Main Content -->
</div>
