<nav class="hk-navbar navbar navbar-expand-xl navbar-light fixed-top">
  <div class="container-fluid">
    <!-- Start Nav -->
    <div class="nav-start-wrap">
      <button
        class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover navbar-toggle"
        (click)="exit()"
      >
        <span class="icon">
          <span class="feather-icon">
            <i data-feather="x"></i>
          </span>
        </span>
      </button>
    </div>
    <!-- /Start Nav -->
    <!-- End Nav -->
    <div class="nav-end-wrap">
      <ul class="navbar-nav flex-row">
        <div class="nav-item">
          <!-- Search -->
          <form class="dropdown navbar-search">
            <div
              class="dropdown-toggle no-caret"
              data-bs-toggle="dropdown"
              data-dropdown-animation
              data-bs-auto-close="outside"
            >
              <a
                href="#"
                class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover d-xl-none"
              >
                <span class="icon">
                  <span class="feather-icon">
                    <i data-feather="search"></i>
                  </span>
                </span>
              </a>
              <div class="input-group d-xl-flex d-none">
                <span class="input-affix-wrapper input-search affix-border">
                  <input
                    type="text"
                    class="form-control bg-transparent"
                    data-navbar-search-close="false"
                    placeholder="Encontre produtos..."
                    aria-label="Encontre produtos"
                  />
                  <span class="input-suffix">
                    <span>/</span>
                    <span class="btn-input-clear">
                      <i class="bi bi-x-circle-fill"></i>
                    </span>
                    <span
                      class="spinner-border spinner-border-sm input-loader text-primary"
                      role="status"
                    >
                      <span class="sr-only">Loading...</span>
                    </span>
                  </span>
                </span>
              </div>
            </div>
          </form>
          <!-- /Search -->
        </div>
      </ul>
    </div>
    <!-- /End Nav -->
  </div>
</nav>
